:root {
    --cream:#F3EDE7;
    --cream-white:#FAF8F6;
    --dark-blue:#172339;
    --grey:#49566D;
    --purple:#A060FF; 
    --pink:#CB30E3; 
    --orange:#FFA84E; 
    --font-primary: 'Epilogue', sans-serif;
    --heading-XL: 72px; 
    --heading-L:48px;
    --heading-M:18px;
    --heading-S:16px;
    --quote:20px;
    --body:18px;
    --footer:15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #ccc;
    font-family: var(--font-primary);
}

p {
    font-size: var(--body);
    line-height: 32px;
}

h1 {
    font-size: clamp(48px, 8vw, var(--heading-XL));
    font-weight: 400;
}

h1 span {
    font-weight: 700;
}

h2 {
    font-size: clamp(40px, 6vw, var(--heading-L));
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--cream-white);
    max-width: 1440px;
    min-height: 100vh;
    margin:0 auto; 
    padding-top:50px; 
    padding-left:clamp(0px,6vw,164px);
    padding-right:clamp(0px,6vw,164px); 
}
.btn {
    padding:16px 24px;
    border: 2px solid var(--dark-blue); 
    color: var(--dark-blue); 
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
}
.btn:hover {
    color:var(--cream); 
    background-color: var(--dark-blue);
}
.btn-secondary {
    background: var(--dark-blue);
    color:var(--cream); 
}

.btn-secondary:hover{
    background: linear-gradient(to right bottom, var(--purple), var(--pink), var(--orange));
    border: 1px solid transparent;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    margin-top: 67px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "content content content stats";
    min-height: 600px;
}

.banner-content {
    grid-area: content;
    position: relative;
    display: flex;
}

.banner-content-text {
    padding-top: 104px;
    position: absolute;
    z-index: 10;
    width: min(70%, 575px);
}

.banner-background{
    position: absolute;
    top: 0;
    right:0;
    object-fit: cover;
    height: 100%;
}

.banner-stats {
    grid-area: stats;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.banner-title {
    max-width: 640px;
}

.banner-message {
    margin-top: 40px;
    margin-bottom: 52px;
    max-width: 350px;
}

.testimonial {
    position: relative;
    margin-top: 144px;
    margin-bottom: -50%;
    width: 100%;
    min-height: 545px;
    height: auto;
    background:var(--dark-blue); 
    border-radius: 20px;
}

.testimonial-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    bottom:0;
    width: 100%;
}

.testimonial-image {
    margin: 0 auto;
    width: 30vw;
    width: 360px;
}

.testimonial-content-text {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
    color:var(--cream); 
}

.testimonial-content-text p{
    text-align: left;
    max-width: 350px;
    font-weight: 300;
}

.testimonial-content-text h2 {
    text-align: left;
    font-weight: 400;
}


footer {
    height: 464px;
    max-width: 1440px;
    margin:0 auto; 
    padding-left:clamp(0px,6vw,164px);
    padding-right:clamp(0px,6vw,164px); 
    background:var(--cream); 
}

.footer-content {
    height: 100%;
    position: relative;    
}

.footer-nav {
    position: absolute;
    bottom:32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.social-media {
    display: flex;  
    list-style-type: none;
    gap:28px;
}

@media only screen and (max-width:640px){
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "content"
        "content"
        "content"
        "stats";
    }  

    .banner-content-text {
        padding-top: 88px;
        width: 85%;
    }
    
    
    .banner-stats {
        flex-direction: row;
    }
    .testimonial-content {
        grid-template-columns: 1fr;
    }
    .testimonial-image {
        width: 250px;
    }
    .testimonial-content-text {
        align-items: center;
        padding-bottom: 16px;
    }
    .testimonial-content-text p{
        text-align: center;
    }

}

@media only screen and (max-width:370px){
    .container {
        padding:0;
    }    
}
